<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>LymonAI</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}" />
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/fontStyles.css') }}" />
	</head>
	<body class="dark">
		<div class="fullPageContainer">
			<nav class="navContainer">
				<div class="navWrapper">
					<div class="logoWrapper">
						<span class="logo fontLogo">LymonAI</span>
					</div>
					<!-- <span class="fontSpecifications">Made with ChatGPT</span> -->
				</div>
			</nav>
			<div class="mainContainer">
				<ul class="decisionContainer">
					{% for decision in inputDecisions %}
					<li class="decisionWrapper">
						<span>{{ decision }}</span>
					</li>
					{% endfor %}
				</ul>
				<div class="promptContainer">
					{% block content %}
					{% endblock %}
				</div>
			</div>
		</div>

		<script src="../static/js/promptInput.js"></script>
	</body>
</html>
